# For MTK DRM integration:

on post-fs
    # Support A/B feature for EMMC and UFS boot region
    symlink /dev/block/sda /dev/block/mmcblk0boot0
    symlink /dev/block/sdb /dev/block/mmcblk0boot1
    symlink /dev/block/mmcblk0boot0 /dev/block/platform/bootdevice/by-name/preloader_a
    symlink /dev/block/mmcblk0boot1 /dev/block/platform/bootdevice/by-name/preloader_b

    # Support A/B feature for combo emmc and ufs OTA update
    symlink /dev/block/platform/bootdevice/by-name/preloader_a /dev/block/platform/bootdevice/by-name/preloader_emmc_a
    symlink /dev/block/platform/bootdevice/by-name/preloader_b /dev/block/platform/bootdevice/by-name/preloader_emmc_b
    symlink /dev/block/platform/bootdevice/by-name/preloader_a /dev/block/platform/bootdevice/by-name/preloader_ufs_a
    symlink /dev/block/platform/bootdevice/by-name/preloader_b /dev/block/platform/bootdevice/by-name/preloader_ufs_b

    # Support A/B feature for combo emmc and ufs OTA update
    symlink /dev/block/platform/bootdevice/by-name/preloader_a /dev/block/by-name/preloader_emmc_a
    symlink /dev/block/platform/bootdevice/by-name/preloader_b /dev/block/by-name/preloader_emmc_b
    symlink /dev/block/platform/bootdevice/by-name/preloader_a /dev/block/by-name/preloader_ufs_a
    symlink /dev/block/platform/bootdevice/by-name/preloader_b /dev/block/by-name/preloader_ufs_b

    exec u:r:update_engine:s0 root root -- /system/bin/mtk_plpath_utils

import /microtrust.rc
import /tee-suplicant.rc
import /miteelog.rc
    
on fs
    install_keyring
    setprop crypto.ready 1
    
service keystore_auth /system/bin/keystore_auth
    oneshot
    user system
    group root
    disabled
    seclabel u:r:recovery:s0

service keystore /system/bin/keystore /tmp/misc/keystore
    user root
    group root drmrpc readproc
    disabled
    seclabel u:r:recovery:s0

service unified-script /vendor/bin/unified-script.sh
    user root
    group root
    disabled
    oneshot
    seclabel u:r:recovery:s0

service vendor.gatekeeper-1-0 /system/bin/android.hardware.gatekeeper@1.0-service
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service vendor.keymaster-4-0-beanpod /vendor/bin/hw/android.hardware.keymaster@4.0-service.beanpod
    user root
    group root drmrpc
    disabled
    seclabel u:r:recovery:s0

service vendor.keymaster-4-0-mitee /vendor/bin/hw/android.hardware.keymaster@4.0-service.mitee
    user root
    group root drmrpc
    disabled
    seclabel u:r:recovery:s0

on property:hwservicemanager && property:ro.boot.tee_type=1
     start vendor.keymaster-4-0-mitee
#     start miteelog
    
on property:hwservicemanager && property:ro.boot.tee_type=2
    start vendor.keymaster-4-0-beanpod
    start vendor.gatekeeper-1-0    

on property:ro.crypto.state=unsupported
    stop teei_daemon
#    stop miteelog
#    stop tee-suplicant
    stop vendor.keymaster-4-0-beanpod
    stop vendor.keymaster-4-0-mitee
    stop vendor.gatekeeper-1-0
    stoo miteelog
    stop servicemanager
    stop hwservicemanager

on property:ro.crypto.state=unencrypted
    stop teei_daemon
#    stop miteelog
#    stop tee-suplicant
    stop vendorkeymaster-4-0-beanpod
    stop vendor.keymaster-4-0-mitee
    stop vendor.gatekeeper-1-0
    stop servicemanager
    stop hwservicemanager

on property:twrp.decrypt.done=true
    stop teei_daemon
#    stop miteelog
#    stop tee-suplicant
    stop vendor.keymaster-4-0-beanpod
    stop vendor.keymaster-4-0-mitee
    stop vendor.gatekeeper-1-0
    stop servicemanager
    stop hwservicemanager
    
on boot
    start boot-hal-1-1
    chmod 0777 /system/bin/variant-script.sh
    start unified-script
    
