# For MTK DRM integration:

import /microtrust.rc
import /tee-suplicant.rc
import /miteelog.rc

on early-fs
    start vold
    
on fs
    install_keyring
    setprop crypto.ready 1
    
service keystore_auth /system/bin/keystore_auth
    oneshot
    user system
    group root
    disabled
    seclabel u:r:recovery:s0

service keystore /system/bin/keystore /tmp/misc/keystore
    user root
    group root drmrpc readproc
    disabled
    seclabel u:r:recovery:s0
      
service gatekeeper-1-0 /vendor/bin/hw/android.hardware.gatekeeper@1.0-service
    user root
    group root
    setenv LD_LIBRARY_PATH /vendor/lib64/hw:/system/lib64
    disabled
    seclabel u:r:recovery:s0

service keymaster-4-0-beanpod /vendor/bin/hw/android.hardware.keymaster@4.0-service.beanpod
    user root
    group root drmrpc
    setenv LD_LIBRARY_PATH /vendor/lib64/hw:/system/lib64
    disabled
    seclabel u:r:recovery:s0

service keymaster-4-0-mitee /vendor/bin/hw/android.hardware.keymaster@4.0-service.mitee
    user root
    group root drmrpc
    setenv LD_LIBRARY_PATH /vendor/lib64/hw:/system/lib64
    disabled
    seclabel u:r:recovery:s0

on property:hwservicemanager.ready=true
    start keymaster-4-0-beanpod
    start vendor.keymaster-4-0-mitee
    start gatekeeper-1-0
    start miteelog

on property:ro.crypto.state=unsupported
    stop teei_daemon
    stop keymaster-4-0-beanpod
    stop keymaster-4-0-mitee
    stop gatekeeper-1-0
    stop servicemanager
    stop hwservicemanager

on property:ro.crypto.state=unencrypted
    stop teei_daemon
    stop keymaster-4-0-beanpod
    stop keymaster-4-0-mitee
    stop gatekeeper-1-0
    stop servicemanager
    stop hwservicemanager

on property:twrp.decrypt.done=true
    stop teei_daemon
    stop keymaster-4-0-beanpod
    stop keymaster-4-0-mitee
    stop gatekeeper-1-0
    stop servicemanager
    stop hwservicemanager

service vendor.boot-hal-1-1 /vendor/bin/hw/android.hardware.boot@1.1-service
    user root
    group root
    setenv LD_LIBRARY_PATH /vendor/lib64/hw:/system/lib64
    seclabel u:r:recovery:s0
    
on boot
    start vendor.boot-hal-1-1
    
