service miteelog /vendod/bin/miteelog
    class core
    disabled
    # seclabel u:r:recovery:s0

on post-fs-data && property:ro.boot.tee_type=1
    mkdir /data/vendor/mitee
    chmod 0755 /data/vendor/mitee
    chown root root /data/vendor/mitee
    mkdir /data/vendor/thh
    chmod 0755 /data/vendor/thh
    chown root root /data/vendor/thh
    write /proc/bootprof "init miteelog"
    start miteelog
